In [1]:
Names = ['Peter', 'Paul','James','John','Ahmed']
Age = (20,24,45,23,50)
Height = [1.2, 3.4, 5.9, 4.5, 6.0]

In [2]:
tab = {'Names':Names, 'Age':Age, 'Height':Height}

In [3]:
tab

{'Names': ['Peter', 'Paul', 'James', 'John', 'Ahmed'],
 'Age': (20, 24, 45, 23, 50),
 'Height': [1.2, 3.4, 5.9, 4.5, 6.0]}

In [4]:
Age

(20, 24, 45, 23, 50)

In [5]:
tab.update?

In [6]:
help(tab.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [8]:
tab['Names']

['Peter', 'Paul', 'James', 'John', 'Ahmed']

In [9]:
import pandas as pd

In [10]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [14]:
table = pd.DataFrame?

In [ ]:
table = pd.DataFrame

In [12]:
table = pd.DataFrame(tab)

In [13]:
table

   Names  Age  Height
0  Peter   20     1.2
1   Paul   24     3.4
2  James   45     5.9
3   John   23     4.5
4  Ahmed   50     6.0

In [15]:
def add(a,b):
    return a+b

In [16]:
add(4,5)

9

In [17]:
def add(a,b):
    '''
    This function adds two numbers: e.g add(3,2), the answer is 5.
    '''
    return a+b

In [18]:
add?

In [19]:
import math

In [20]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [21]:
math.pi

3.141592653589793

In [22]:
math.sqrt(25)

5.0

In [28]:
def maximum(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    elif c>a and c>b:
        return c
    else:
        return 'They are all equal'

In [29]:
maximum(5,5,5)

'They are all equal'

In [30]:
def sum(x):
    total = 0
    for i in x:
        total = total + i
    return total

In [31]:
sum([1,2,3,4,5,6])

21

In [37]:
def sum2(x):
    total = 0
    for i in x:
        total += i
    return total

In [38]:
sum2([2,4,5,6,7])

24

In [40]:
def mul(x):
    total = 1
    for i in x:
        total = total * i
    return total

In [41]:
mul([2,3,4,5])

120